.header{
  background-color: rgb(221, 166, 55);
  border: 1px solid #ece5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 900px;
}

nav{
  align-items: center;
}

nav ul{
  list-style-type: none;
  margin: 0;
  width: 100%;
  /* align-items: center; */

}

nav ul li a{
  padding: 1em;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

a{
  color:rgb(247, 244, 245);
}

a:hover{
  background-color: rgb(241, 236, 236);
  color: rgb(34, 34, 32)
}
