<div class="header">
  <div>
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="toHome()">Home</a>
            <a [routerLink]="['/about']" routerLinkActive="router-link-active" (click)="toAbout()">About</a>
            <a [routerLink]="['/experience']" routerLinkActive="router-link-active" (click)="toExperience()">Experience</a>
            <a [routerLink]="['/projects']" routerLinkActive="router-link-active" (click)="toProjects()">Projects</a>
            <!-- <a routerLink="cart-page">Contact</a> -->
          </li>
        </ul>
      </nav>
  </div>
</div>
