<div id="about" >
  <div class="me">
    <div class="col-sm image">
      <img src="./assets/oppp.png" alt="error">
    </div>
    <div class="col-sm info">
      <h2>About Me</h2>
      <p>Hello, I’m a Ritik, Backend engineer with 3+ years of experience in designing and developing scalable, high-performance applications. 
        Proficient in Core and Advanced Java, Spring Boot, and Microservices Architecture, with expertise in building RESTful APIs and integrating with SQL/NoSQL databases. 
        Skilled in Hibernate/JPA for ORM, and experienced in version control using Git. Adept at delivering robust backend solutions that meet business needs.</p>
      <ul>
        <a><strong>Java</strong></a>
        <a><strong>Spring Boot</strong></a>
        <a><strong>Microservices</strong></a>
        <a><strong>React</strong></a>
        <a><strong>Kafka</strong></a>
        <a><strong>MySQL</strong></a>
        <a><strong>HBase</strong></a>
      </ul>
      <div class="button">
        <a class="submit" href="https://docs.google.com/document/d/1UFGUERTIaNRpblYv4FwBd1lPNV7NHLVaSud5rkywMBg/edit?usp=sharing">View /Dowload CV</a>
      </div>    
    </div>
  </div>
</div>
<!-- <app-skills></app-skills> -->
