<div id="about" >
  <div class="me">
    <div class="col-sm image">
      <img src="./assets/oppp.png" alt="error">
    </div>
    <div class="col-sm info">
      <h2>About Me</h2>
      <p>Hello, I’m a Ritik, web-developer based on Dehradun, India. I have rich experience in web site design & building and customization. Also I am good at</p>
      <ul>
        <a><strong>HTML</strong></a>
        <a><strong>Css</strong></a>
        <a><strong>Angular</strong></a>
        <a><strong>Django</strong></a>
        <a><strong>Python</strong></a>
        <a><strong>Problem Solving</strong></a>
      </ul>
      <div class="button">
        <a class="submit" href="https://docs.google.com/document/d/1ecwdYFZQE0oSHGBTc3EsgJ6pbz4iLIHH8lPwA5rJ6fk/edit?usp=sharing">Dowload CV</a>
      </div>    
    </div>
  </div>
</div>
<!-- <app-skills></app-skills> -->