<div id="experience">
  <p>WORK EXPERIENCE</p>
  <hr>
  <div class="first">
    <h3>Infosys ( Software Engineer )</h3>
    <ul>
      <li>Worked on batch data pipelines (OTL, DDL, RTU) to ingest mainframe data into MapR tables and upgraded the user-PII data encryption framework from Voltage to HIPED, improving data retrieval speed, security, and overall system efficiency.</li>
      <li>Built a robust fallback mechanism that fetches user data from an alternative service when the primary database lacks it, improving system resilience and reducing data-access failures.</li>
      <li>
        Added support for a new encryption framework in internal APIs while preserving backward compatibility with the existing system, and contributed to improving related API flows and data security handling
      </li>
      <li>Collaborated closely with the team to raise unit test coverage to 90%, significantly reducing production defects and enabling safer, more efficient code refactoring.</li>
      <li>As a Core Developer (8-person squad post-migration), collaborated with architects and business stakeholders to deliver high-impact User Stories, including time-sensitive features, and continuously driving platform optimization and scalability.</li>
      <li>Actively participated in Agile activities from planning through to production release, contributing to the preparation of schedules, definition of milestones, tracking of deliverables against metrics, and management of release activities.</li>
    </ul>
  </div>
  <div class="second">
    <h3>SportsKingdom ( Software Engineer )</h3>
    <ul>
      <li>Designed and developed a scalable, offline-first Progressive Web App (PWA) using React, ensuring responsiveness across all devices and implementing user-centric features like light/dark themes.</li>
      <li>Architected and built the backend with Spring Boot microservices and MongoDB, incorporating JWT authentication, WebSockets, Kafka for event-driven communication, and personally integrated performance optimizations like ElasticSearch for fast search, and Guava Caching for optimized user feeds.</li>
    </ul>
  </div>
</div>
