<div id="experience">
  <p>WORK EXPERIENCE</p>
  <hr>
  <div class="first">
    <h3>Zulip ( Contributor )</h3>
    <ul>
      <li>Zulip is an open source chat and collaborative software. Worked on ZULIP GUI.</li>
      <li>Worked on Improving the profile status editing UI.</li>
      <li>
        Fixes Done ( i.e fix overflowing of alert-word-status-text when the window narrowed, Improve invite-user-icon to
        look more user interactive in dropdown-menu i.e etc)
      </li>
    </ul>
  </div>
  <div class="second">
    <h3>GamerOrb ( Intern )</h3>
    <ul>
      <li>It is an Esports platform where everyone can organize contests , participate and earn.</li>
      <li>Created a team management feature. Handled designing and wiring.</li>
      <li>
        Solved issues ( i.e bug fix in SignUp Form, fix user notification on the notification and modal , Fix UI of the
        Profile page etc. )
      </li>
    </ul>
  </div>
</div>