<div id="projects" class="container">
  <p>PROJECTS</p>
  <hr>
  <div class="first">
    <h3><a style="border: None; cursor: pointer;" href="https://lootera.herokuapp.com/">ECOMMERCE CLONE</a></h3>
    <ul class="tags">
      <a><strong>HTML</strong></a>
      <a><strong>Css</strong></a>
      <a><strong>Django</strong></a>
      <a><strong>Python</strong></a>
      <a><strong>BootStrap</strong></a>
    </ul>
    <ul class="info">
      <li>Wrote python Scripts to parse over reviews and users and insert them into a database.</li>
      <li>Developed dynamic web pages to view and modify data using the Django framework.</li>
      <li>Wrote a flexible queries which accepted a variable amount of search queries.</li>
    </ul>
  </div>
  <div class="second">
    <h3><a style="border: None; cursor: pointer;" href="https://verdant-piroshki-0be172.netlify.app/">FOOD BYTE</a> </h3>
    <ul class="tags">
      <a><strong>AngularJS</strong></a>
      <a><strong>TypeScript</strong></a>
      <a><strong>HTML</strong></a>
      <a><strong>Css</strong></a>
      <a><strong>Javascript</strong></a>
    </ul>
    <ul class="info">
      <li>It was a food order web app (i.e swiggy ).</li>
      <li>Used Custom CSS for designing the UI and rendering the components.</li>
    </ul>
  </div>
  <div class="third">
    <h3><a style="border: None; cursor: pointer;" href="https://github.com/ritikchauhan-01/Speech-to-text-convertor-and-tone-Analyzer">COVID TRACKER</a></h3>
    <ul class="tags">
      <a><strong>AngularJS</strong></a>
      <a><strong>TypeScript</strong></a>
      <a><strong>HTML</strong></a>
      <a><strong>Css</strong></a>
    </ul>
    <ul class="info">
      <li>RealTime data of no of cases of CoronaVirus Shows Confirmed Active, Recovered, no of Deaths Show
        Data of All affected States Show data of Affected District of States Can sort Data in ascending/ desc order.</li>
      <li>Helpline page for helplines numbers and website Links.</li>
    </ul>
  </div>
</div>