<div id="projects" class="container">
  <p>PROJECTS</p>
  <hr>
  <div class="first">
    <h3><a style="border: None; cursor: pointer;" href="https://lootera.herokuapp.com/">Facebook Clone</a></h3>
    <ul class="tags">
      <a><strong>Java</strong></a>
      <a><strong>Spring-Boot</strong></a>
      <a><strong>MongoDB</strong></a>
      <a><strong>WebSocket</strong></a>
      <a><strong>ElasticSearch</strong></a>
    </ul>
    <ul class="info">
      <li>Designed and developed a scalable, offline-first Progressive Web App (PWA) using React, ensuring responsiveness across all devices and implementing user-centric features like light/dark themes.</li>
      <li>Architected and built the backend with Spring Boot microservices and MongoDB, incorporating JWT authentication, WebSockets, Kafka for event-driven communication, and personally integrated performance optimizations like ElasticSearch for fast search, and Guava Caching for optimized user feeds.</li>
    </ul>
  </div>
  <div class="second">
    <h3><a style="border: None; cursor: pointer;" href="https://verdant-piroshki-0be172.netlify.app/">FOOD BYTE</a> </h3>
    <ul class="tags">
      <a><strong>AngularJS</strong></a>
      <a><strong>TypeScript</strong></a>
      <a><strong>HTML</strong></a>
      <a><strong>Css</strong></a>
      <a><strong>Javascript</strong></a>
    </ul>
    <ul class="info">
      <li>It was a food order web app (i.e swiggy ).</li>
      <li>Used Custom CSS for designing the UI and rendering the components.</li>
    </ul>
  </div>
</div>
