<div class="container develop">
  <div class="start">
    <h3><strong>What I do</strong></h3>
  </div> 
  <div class="row cards">
    <div class="col-sm-4">
      <div class="ui">
        <i class="fa fa-bullseye purple-color"></i>
        <h3>UI Design</h3><br>
        <p>sfsfsefsefasvsaaessssssssssssssssssssssssssssssssssssssssssssssavseeeeeeee</p>
      </div>
      
    </div>
    <div class="col-sm-4">
      <div class="web">
        <i class="fa fa-code iron-color"></i>
        <h3>Web Development</h3><br>
        <p>sfsfsefsefasvsaaessssssssssssssssssssssssssssssssssssssssssssssavseeeeeeee</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="open-source">
        <i class="	fa fa-lightbulb-o"></i>
        <h3>Open-Source</h3><br>
        <p>sfsfsefsefasvsaaessssssssssssssssssssssssssssssssssssssssssssssavseeeeeeee</p>
      </div>
    </div>
  </div> 
</div>