
<div id="home" class="container">
  <div class="col-sm-6 intro">
    <h2 class="first">Hello, I'm</h2>
    <p class="second">Ritik Chauhan</p>
    <h4 class="third">Web Developer</h4>
    <ul class="contact">
      <li><i class="fa fa-user-circle"></i>ritikcn05@gmail.com</li>
      <li><i class="fa fa-phone-square"></i>+91  730276100</li>
      <li><i class="fa fa-location-arrow"></i>Dehradun, Uttrakhand, India</li>
    </ul>
    <ul class="social-media">
      <a><i class="fa fa-github"></i></a>
      <a><i class="fa fa-twitter"></i></a>
      <a ><i class="fa fa-linkedin"></i></a>
    </ul>
  </div>
  <div class="col-sm-6 image">
    <img src="../assets/ritik.jpg" alt="error">
  </div>

</div>